<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout::layout(~{::title}, ~{}, ~{::#content})}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <title th:text="|게시글 ${pno}|">게시글</title>
</head>
<body>
<div id="content">
    <div th:text="|제목 : ${board.title}|"></div>
    <div th:text="|내용 : ${board.content}|"></div>
    <div id="comment">
        <div> <!-- 댓글 등록 -->
            <textarea id="writtenComment" placeholder="댓글을 입력해주세요" cols="70"></textarea>
            <input type="button" th:value="등록" id="addCommentBtn"></input>
        </div>

        <div th:unless="${reply==null}"> <!-- 댓글들 -->
            <!--        널체크 통과?-->
            <div id="comments" th:each="r,index: ${reply}">
                <span th:text="|${index.index} - ${r.getRegDate()}|"></span>
                <span th:text="|${r.getRWriter()} : ${r.getComment()}|"></span>
                <span>
                    <button type="button" class="btn btn-primary" id="upBtn" th:onclick="|javascript:up(${r.rno})|" th:text="|${r.getUp()}|"></button>
<!--                    <button type="button" class="btn btn-primary" id="upBtn" th:onclick="|testFunc()|" th:text="|${r.getDown()}|"></button>-->
                    <button type="button" class="btn btn-danger" id="downBtn" th:onclick="|javascript:down(${r.rno})|" th:text="|${r.getDown()}|"></button>
                </span>
            </div>
        </div>

        <script>
            $(function (){
                // alert('load page');
                $('#addCommentBtn').click((event) =>{
                    // alert('등록 클릭');
                    const csrfToken="[[${_csrf.token}]]";
                    const csrfHeader="[[${_csrf.headerName}]]";
                    let text = $('#writtenComment').val();
                    let path = '/post/reply/'+ $('#pno').val();
                    let data = JSON.stringify({
                        'comment' : text
                    });
                    console.log(
                        text,
                        path,
                        data
                    )
                    $.ajax({
                        url:path,
                        type:'post',
                        data: data,
                        contentType: 'application/json',
                        beforeSend:function(xhr){
                            xhr.setRequestHeader(csrfHeader, csrfToken);
                        },	// json에서 csrf 설정
                        success: function (response){
                            // alert('성공')
                        },
                        error: function (request, status, error){
                            alert(error);
                        }
                    })
                        .done((result)=>{
                        // alert('done!');
                        location.reload(); // 현재 창 새로고침
                    });
                });
            });

            function up(rno){
                const csrfToken="[[${_csrf.token}]]";
                const csrfHeader="[[${_csrf.headerName}]]";
                let path = '/post/reply/up';
                let data = JSON.stringify({
                    // 'pno' : $('#pno').val(),
                    'rno' : rno
                });
                $.ajax({
                    data: data,
                    type: 'put',
                    url: path,
                    contentType: 'application/json',
                    beforeSend:function(xhr){
                        xhr.setRequestHeader(csrfHeader, csrfToken);
                    },	// json에서 csrf 설정
                    success: function (response){
                        location.reload();
                    },
                    error: function (request, status, error){
                        alert(error);
                    }
                })
            }

            function down(rno){
                const csrfToken="[[${_csrf.token}]]";
                const csrfHeader="[[${_csrf.headerName}]]";
                let path = '/post/reply/down';
                let data = JSON.stringify({
                    // 'pno' : $('#pno').val(),
                    'rno' : rno
                });
                $.ajax({
                    data: data,
                    type: 'put',
                    url: path,
                    contentType: 'application/json',
                    beforeSend:function(xhr){
                        xhr.setRequestHeader(csrfHeader, csrfToken);
                    },	// json에서 csrf 설정
                    success: function (response){
                        location.reload();
                    },
                    error: function (request, status, error){
                        alert(error);
                    }
                })
            }
        </script>
        <input type="button" onClick="location.href='/'" th:value="|뒤로|"></input>
    </div> <!-- end of comment -->
    <input type="hidden" id="pno" th:value="${pno}"></input>

</div>

</body>
</html>