<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout::layout(~{::title}, ~{}, ~{::#content})}">
<head><title>Home</title></head>
<body>
<div id="content">
<!--    <h2 th:text="${message}"></h2>-->
<!--    <img th:src="${img1}">-->
<!--    <img th:src="${img2}">-->
    <h2>게시글 목록</h2>

    <div class="row">
        <div class="col-1">글번호</div>
        <div class="col-4">제목</div>
        <div class="col-2">등록일자</div>
        <div class="col-1">댓글수</div>
        <div class="col-2">조회수</div>
    </div>
    <div class="row" th:each="p,index: ${posts}"  style="background-color: beige">
        <div class="col-1" th:text="${index.index}"></div>
        <a class="col-4" th:href="@{'/select/' + ${p.pno}}"><span th:text="${p.title}"></span> </a>
<!--        <div class="col-4" th:text="|${p.title}|" th:onclick="selectBoard([[${p.pno}]]);"></div>-->
<!--        <div class="col-2" th:text="|${p.regDate}|"></div>-->
        <div class="col-2" th:text="${#dates.format(p.regDate, 'yyyy-MM-dd HH:mm')}"></div>
        <div class="col-1" th:text="|${p.getReplys().size()}|"></div>
        <div class="col-2" th:text="|${p.views}|"></div>
<!--        th:onclick="'javascript:userDetail('+ ${user.seq} + ');'" th:text="${user.seq}">    -->
    </div>
</div>
</body>
</html>
<!-- 태그 자체를 줄 수도 있음. -->
<!--<head th:replace="~{head::head(~{::title})}">-->
<!--    <title th:text="Home"></title>-->
<!--</head>-->