<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="layout(title, link, content)">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">My Mug</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <th:block th:replace="${link}"></th:block>
</head>
<body>
<h2>My Mug</h2>
<a href="/home">Home</a>
<a href="/menus">Menus</a>
<a href="/crews">Crews</a>
<a href="/mypoint">MyPoint</a>
<a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
<th:block sec:authorize="isAuthenticated()">
    <a sec:authorize="hasRole('admin')" th:href="@{/adduser}">사용자 추가</a>
    <span sec:authentication="name"></span>님
    <form name="logoutForm" th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</th:block>
<br>
<br><br>
<div th:replace="${content}"></div>
</body>
</html>