<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.jmjapplication2">

    <permission
            android:name="com.example.jmjapplication2.permission.MAPS_RECEIVE"
            android:protectionLevel="signature"/>

    <uses-permission android:name="org.techtown.location.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
            android:name=".JMJApplication"
            android:allowBackup="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".owner.MenuRegisterActivity">
        </activity>
        <activity android:name=".owner.MenuDetailActivity">
        </activity>
        <activity android:name=".owner.ListShopActivity">
        </activity>
        <activity android:name=".owner.OwnerLoginActivity">
        </activity>

        <uses-library android:name="com.google.android.maps"/>
        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDzrU6ZybJOo_RtvrYo7o_Koown_2Ow_1g"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <activity android:name=".user.MainActivity">
        </activity>
        <activity android:name=".user.MenuActivity">
        </activity>
        <activity android:name=".user.BellActivity">
        </activity>
        <activity android:name=".user.QrReaderActivity">
        </activity>
        <activity android:name=".user.ProfileUpdateActivity">
        </activity>
        <activity android:name=".IntroScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".user.CaptureAct"
                android:screenOrientation="fullSensor"
                android:stateNotNeeded="true"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name=".user.LoginActivity">
        </activity>
        <activity android:name=".owner.MainActivity_O">
        </activity>
        <activity android:name=".owner.RegisterNoActivity">
        </activity>
        <activity android:name=".owner.RegisterShopActivity">
        </activity>
        <activity android:name=".user.JoinActivity">
        </activity>
        <activity android:name=".user.ShopDetailActivity">
        </activity>
        <activity android:name=".user.LogoutActivity">
        </activity>
        <activity android:name=".owner.OwnerJoinActivity">
        </activity>
        <activity android:name=".owner.WebViewActivity">
        </activity>
    </application>

</manifest>