<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout::layout(~{::title}, ~{}, ~{::#content})}">
<head>
    <meta charset="UTF-8">
    <title>Crews</title>
</head>
<body>
    <div id="content">
        Crews
        <table>
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c: ${crews}">
                <td th:text="${c.nickname}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
