@font-face {
  font-family: 'Wemakeprice-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

a { color: white;
    text-decoration: none;
    display: block;
}

body {
  margin: 0 auto;

}

.black-nav {
  width: 100%;
  color: white;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 33px;
  font-family: 'Wemakeprice-Bold';
  position: fixed;
  background-color: black;
}
.left-nav {
  display: flex;
  padding-left: 15%;
  flex-grow: 1;
}

.center-nav {
  display: flex;
  flex-grow: 4;
}

.center-nav-nowshop {
  display: flex;
  flex-grow: 4;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: -18px;
}
.center-nav-nowshop button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  margin-left: 5px;
}

.right1-nav {

  display: flex;
  color: white;
  font-size: 16px;
  flex-grow: 0.5;
  text-align: center;
  padding-top: 13px;
  margin-right: 10px;
}
.right2-nav {
  display: flex;
  color: white;
  font-size: 16px;
  flex-grow: 1;
  text-align: center;
  padding-top: 13px;
  padding-right: 13%;
}

.shop-info-box {
  color: black;
  padding-top: 140px;
  width: 80%;
  height: 700px;
  margin-left: 10%;
}
.shop-info-title {
  margin-left: 10px;
  margin-bottom: 24px;
  font-size: 20px;
}

.shop-info-select ul{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: darkgray;
  list-style-type: none;
}
.shop-info-select li {
  padding: 15px;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  border: 1px solid gray;
}

.shop-info-desc {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 400px;
  background-color: whitesmoke;
}
.shop-info-desc p {
  margin: 0;
  padding: 20px 0 0 20px;
}
.shop-info-but {
  margin-top: 20px;
  margin-right: 10px;
  float: right;
}
.shop-info-but button {
  width: 100px;
  height: 40px;
  margin-right: 10px;
}