<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"> <!-- 레이아
	웃 폴더의 레이아웃의 header를 들고옴-->
</head>
<body class="is-preload">
<div th:replace="layout/layout :: topbar"></div>
<div th:replace="layout/layout :: loginCheck"></div>

<!--<div th:replace="layout/layout :: header"></div>-->

<div id="main">
    <section class="two">
        <div class="container">

            <div style="float: right;">
                조회수&emsp;<span th:text="${select.count}"></span>&emsp;&emsp;&emsp;
                추천수&emsp;<span th:text="${select.reco}" id="recos"></span>&emsp;&emsp;&emsp;
                작성일&emsp;<span th:text="${#dates.format(select.regDate, 'yyyy-MM-dd HH:mm:ss')}"></span>&emsp;&emsp;&emsp;
                <button id="reco" class="btn btn-warning">추천</button>
            </div>
            <br><br><br>
            <div class="row">
                <div class="col-2">
                    <span style="font-size: 30px">제목</span>
                </div>
                <div class="col-10">
                    <span style="font-size: 30px; float: left;" th:text="${select.title}"></span>
                </div>
            </div>
            <br><br><br>
            <div class="row">
                <div class="col-2">
                    <span style="font-size: 30px">내용</span>
                </div>
                <div class="col-5" style="word-break:break-all;">
                    <span style="font-size: 30px; float: left;" th:text="${select.content}"></span>
                </div>
            </div>
            <br><br><br>
            <div class="row">
                <div class="col-2">
                    <span style="font-size: 30px" >작성자</span>
                </div>
                <div class="col-10">
                    <span style="font-size: 30px; float: left;" th:text="${select.writer}"></span>
                </div>
            </div>
            <br><br><br>
            <div th:if="${session.user.getName() == select.writer}">
                <button id="back" class="btn btn-danger" style="float: right">뒤로</button>
                <button id="boardDelete" class="btn btn-secondary" style="float: right">삭제</button>
                <button id="updateBtn" class="btn btn-primary" style="float: right">수정</button>
            </div>

            <br><br><br>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="댓글을 작성해주세요." id="rcontent">
                <div class="input-group-append">
                    <button class="btn btn-info" id="replyBtn">댓글달기</button>
                </div>
            </div>
            <br>
            <ul class="list-group" id="replyTop">
                <li class="d-flex justify-content-between" th:each="replyList : ${replyList}">
                    <div>
                        <span th:text="${session.user.name}" th:value="${session.user.name}" id="rwriter"></span><br>
                        <span class="badge badge-primary badge-pill" th:text="${replyList.up}"></span>
                        <span class="badge badge-danger badge-pill" th:text="${replyList.down}"></span>
                        <input type="hidden" th:value="${replyList.rno}" id="rno">
                    </div>
                    <br>
                    <div style="min-width: 800px" th:text="${replyList.rcontent}"></div>
                    <br><br>
                    <div style="float: right;">
                        <span th:text="${#dates.format(replyList.regDate, 'yyyy-MM-dd HH:mm:ss')}"></span><br>
                        <a href="" th:onclick="'javascript:up('+${replyList.rno}+')'"><span
                                class="badge badge-primary badge-pill" id="upBtn">추천</span></a>
                        <a href="" th:onclick="'javascript:down('+${replyList.rno}+')'"><span
                                class="badge badge-danger badge-pill" id="downBtn">비추</span></a>
<!--                        <a th:href="@{'/rest/replyDelete/' + ${replyList.rno}}"><span-->
<!--                                class="badge badge-danger badge-pill" id="">삭제</span></a>-->
                    </div>
                    <h1></h1>
                </li>
            </ul>
        </div>

    </section>
</div>

<input type="hidden" th:value="${session.user.mno}" id="mno">
<input type="hidden" th:value="${select.bno}" id="bno">

<div th:replace="layout/layout :: footer"></div>

</body>
</html>