<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 아임포트 자바스크립트는 jQuery 기반으로 개발되었습니다 -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js" ></script>

<script>
    function iamport(){
        //가맹점 식별코드
        IMP.init('imp59387591');
        IMP.request_pay({
            pg : 'kcp',
            pay_method : 'card',
            merchant_uid : 'merchant_' + new Date().getTime(),
            name : '상품1' , //결제창에서 보여질 이름
            amount : 100, //실제 결제되는 가격
            buyer_email : 'iamport@siot.do',
            buyer_name : '구매자이름',
            buyer_tel : '010-1234-5678',
            buyer_addr : '서울 강남구 도곡동',
            buyer_postcode : '123-456',
            <!-- 아래 부분을 추가해줍니다 -->
            m_redirect_url : 'http://localhost:8088/orderCompleteMobile'

        }, function(rsp) {
            console.log(rsp);
            // 결제검증
            $.ajax({
                type : "POST",
                url : "/verifyIamport/" + rsp.imp_uid
            }).done(function(data) {

                console.log(data);

                // 위의 rsp.paid_amount 와 data.response.amount를 비교한후 로직 실행 (import 서버검증)
                if(rsp.paid_amount == data.response.amount){
                    alert("결제 및 결제검증완료");
                } else {
                    alert("결제 실패");
                }
            });
        });
    }
</script>
<button onclick="iamport()">결제테스트</button>
</body>
</html>