
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<section>
    <div th:if="${param.error}">Failed. Check username and password.</div>
    <form th:action="@{/login}" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        id <input type="text" id="id"  name="username"/><br>
        Password<input type="password" id="pw" name="password"><br>
        <input type="submit" value="Login"/>
    </form>
    <a href="/oauth2/authorization/google">구글 로그인</a>
    <a href="/oauth2/authorization/facebook">페이스북 로그인</a>
    <a href="/oauth2/authorization/naver">네이버 로그인</a>

    <a href="/joinus">회원가입</a>
</section>
</body>
</html>