
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<section>
    <div th:if="${param.error}">Failed. Check username and password.</div>
    <form th:action="@{/api/login}" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        id <input type="text" id="id"  name="id"/><br>
        Password<input type="password" id="pw" name="pw"><br>
        <input type="submit" value="Login"/>
    </form>
</section>
</body>
</html>